*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;
}

.app {
    height: 100vh;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 80vh;
    width: 25%;
    box-shadow: 0 2rem 4rem var(--color-shadow);
    background-color: var(--color-light-black);
}

:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-orange: #ff8200;
    
    --color-black: #000;
    --color-light-black: #151515;
    
    --color-gray: #444444;
    
    --color-shadow: rgba(0, 0, 0, .4);
}