*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;
}

.app {
    height: 100vh;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 80vh;
    width: 25%;
    box-shadow: 0 2rem 4rem var(--color-shadow);
    background-color: var(--color-gray);
}

.result-screen {
    height: 19vh;
    font-size: 8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.computation-screen {
    height: 6vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.screen {
    height: 25vh;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-light-white);
    background-color: var(--color-light-black);
}

.keypad__row {
    height: 11vh;
    width: 100%;
    display: flex;
    color: var(--color-light-white);
}

.keypad {
    height: 55vh;
    width: 100%;
}

.btn {
    width: 25%;
    height: 100%;
    font-size: 3rem;
    font-family: inherit;
    color: var(--color-light-white);
    background-color: var(--color-gray);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.btn:hover {
    color: var(--color-black);
    background-color: var(--color-orange);
}

.btn:active {
    transform: scale(.95);
}

.btn--large1--operator {
    width: 50%;
    color: var(--color-light-white);
    background-color: var(--color-gray);
    transition: all .2s;
}

.btn--large1--operator:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
}

.btn--large2 {
    width: 50%;
    color: var(--color-black);
    background-color: var(--color-orange);
    transition: all .2s;
}

.btn--large2:hover {
    background-color: var(--color-gray);
    color: var(--color-light-white);
}

:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-orange: #ff8200;
    
    --color-black: #000;
    --color-light-black: #151515;
    
    --color-gray: #444444;
    
    --color-shadow: rgba(0, 0, 0, .4);
}

.btn--operator,
.btn--large1--operator {
    color: var(--color-orange);
}